X5LEARN_DB_HOST=127.0.0.1:5432
X5LEARN_DB_NAME=x5learn
X5LEARN_DB_USERNAME=postgres
X5LEARN_DB_PASSWORD=replace-with-database-password
X5LEARN_MAIL_SENDER=accounts@example.com
X5LEARN_MAIL_USERNAME=accounts@example.com
X5LEARN_MAIL_PASS=replace-with-mail-password
X5LEARN_MAIL_SERVER=mail.example.com
X5LEARN_MAIL_PORT=465
SERVER_NAME=127.0.0.1:5000
PORT=5000
FLASK_ENV=development
AZURE_TENANT_ID=replace-with-azure-tenant-id
AZURE_CLIENT_ID=replace-with-azure-client-id
AZURE_CLIENT_SECRET=replace-with-azure-client-secret
GOOGLE_CLIENT_ID=replace-with-google-client-id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=replace-with-google-client-secret
REACT_APP_BASE_URL=http://localhost:5000/api/v1