package-lock.json

__pycache__

# Elm / JavaScript binaries
node_modules/
elm-stuff/

# Compiled frontend assets
x5learn_server/static/dist/

# OSX temporary files
.DS_Store

# Developer environment variables
.env

x5learn.egg-info

# output from enrichment workers running in the background
nohup.out
enrichment/nohup.out

# output from headless browser (scraping)
geckodriver.log

# output from ingest script
ingest_scripts/youtube_log.txt
