package-lock.json

__pycache__

# Elm / JavaScript binaries
node_modules/
elm-stuff/

# Compiled frontend assets
server/static/dist/

# OSX temporary files
.DS_Store

# Developer environment variables
.env
