<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="keywords" content="x5learn x5gon">
    <meta name="description" content="X5Learn - Open Educational Resources">
    <meta name="author" content="x5gon.org">
    <title>X5Learn</title>
    <link rel="stylesheet" href="/static/dist/css/app.min.css">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Serif:200,300,400,700&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;display=swap" rel="stylesheet">
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script> -->
    <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> -->
    <link rel="icon" href="/static/dist/favicon.ico">
  </head>

  <body>
    <noscript>
     For full functionality of this site it is necessary to enable JavaScript.
     Here are the <a href="https://www.enable-javascript.com/">instructions how to enable JavaScript in your web browser</a>.
    </noscript>

    <div class="bgimg">
      <div class="topleft">
        <img src="/static/dist/img_svg/x5gon_logo_dark.svg" height="22" alt="logo">
      </div>
      <div class="middle">
        <h1 class="AboutPageH1 text-white">X5Learn</h1>
        <h2 class="AboutPageH2 text-white">Explore Open Educational Resources</h2>
        <p>
          <a href="/featured" class="button-green">Get Started</a>
        </p>
      </div>
      <!-- <div class="bottomleft"> -->
      <!--   <p>Some text in the image</p> -->
      <!-- </div> -->
    </div>

    <div class="AboutContent">
      <h4 class="AboutPageH4">Lorem Ipsum</h4>
      <p class="AboutParagraph">Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Curabitur vulputate tellus in neque egestas, id vehicula quam sollicitudin. Mauris aliquet justo pharetra orci maximus commodo. Nullam viverra est felis, eu vehicula urna sagittis ac. Suspendisse aliquet leo eu rhoncus lacinia. Vestibulum quis ante id nibh malesuada suscipit. Aenean ut mauris vel est ullamcorper mollis. Nullam feugiat volutpat dui sit amet egestas. Ut ac orci maximus, suscipit nisi in, varius nunc. Quisque et scelerisque urna, quis dignissim leo. Nunc et nisl ac lacus auctor dignissim. Nam laoreet magna justo, pretium commodo augue dignissim id. Praesent faucibus augue tincidunt neque mattis laoreet. Donec porta et libero nec convallis.</p>
    </div>


    <div class="AboutFooter">
      <div class="AboutRow">
        <div class="AboutColumnEuFlag">
          <img alt="european flag" src="/static/dist/img/euflag.png" class="AboutEuropeanFlag" width="100%">
        </div>
        <div class="AboutColumnEuText">
          <p class="AboutFooterText">This project has received funding from the European Union’s Horizon new policy 2020 research and innovation programme under grant agreement No 761758.</p>
        </div>
      </div>
    </div>

  </body>
</html>
