<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="keywords" content="x5learn x5gon">
    <meta name="description" content="X5Learn - Open Educational Resources">
    <meta name="author" content="x5gon.org">
    <title>X5Learn</title>
    <link rel="stylesheet" href="/static/dist/css/app.min.css">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Serif:200,300,400,700&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;display=swap" rel="stylesheet">
    <link rel="icon" href="/static/dist/favicon.ico">
  </head>

  <body>
    <noscript>
     For full functionality of this site it is necessary to enable JavaScript.
     Here are the <a href="https://www.enable-javascript.com/">instructions how to enable JavaScript in your web browser</a>.
    </noscript>

    {% if is_user_logged_in %}
      <div class="alt-header">
        <div class="topleft">
          <a href="https://platform.x5gon.org">
            <img src="http://x5learn.org/files/main/x5gon_logo_dark.svg" height="22" alt="logo">
          </a>
        </div>
        <div class="AboutTopRightButtons">
            <a href="/" class="button-green AboutLoginButton">Back to x5learn</a>
        </div>
      </div>
    {% else %}
      <div class="bgimg">
        <div class="topleft">
          <a href="https://platform.x5gon.org">
            <img src="http://x5learn.org/files/main/x5gon_logo_dark.svg" height="22" alt="logo">
          </a>
        </div>
        <div class="middle">
          <h1 class="AboutPageH1 text-white">X5Learn</h1>
          <h2 class="AboutPageH2 text-white">Explore Open Educational Resources</h2>
          <p>
            <a href="/signup" class="button-green AboutFatSignupButton">SIGN UP FOR FREE</a>
          </p>
        </div>
        <div class="AboutTopRightButtons">
            <a href="/signup" class="button-green AboutSignupButton">Sign up</a>
            <div class="AboutTopRightButtonsOr">or</div>
            <a href="/login" class="button-green AboutLoginButton">Log in</a>
        </div>
      </div>
    {% endif %}

    <div class="AboutContent">
      {% if is_user_logged_in %}
        <h2 class="AboutPageH2">ABOUT US</h2>
      {% endif %}
      <h4 class="AboutPageH4">Cross-site and cross-lingual recommendations powered by AI. Increase user engagement, grow visibility and drive new audiences, for stronger content consumption and learning at the same time.</h4>
      <p class="AboutParagraph">X5LEARN is part of the X5GON family of products. It helps OER publishers get the most from their content pages. The recommendation engine is designed to increase content engagement, quality assurance, audience engagement and footfall, directly improving site metrics. X5LEARN's core product is an AI engine connecting millions of pieces of OER content from different sites, cultures and in different languages in one interface based on relevance and personal learning needs. OER publishers use X5LEARN's tools to recirculate their content within other sites, and use it as the first AI powered open education learning environment.</p>
      <br>
      {% if is_user_logged_in %}
        <p>
          <a href="/" class="button-green AboutFatSignupButton">BACK TO X5LEARN</a>
        </p>
      {% else %}
        <p>
          <a href="/signup" class="button-green AboutFatSignupButton">SIGN UP FOR FREE</a>
        </p>
      {% endif %}
      <br>
    </div>

    <div class="AboutFooter">
      <div class="AboutRow">
        <div class="AboutColumnEuFlag">
          <img alt="european flag" src="/static/dist/img/euflag.png" class="AboutEuropeanFlag" width="100%">
        </div>
        <div class="AboutColumnEuText">
          <p class="AboutFooterText">This project has received funding from the European Union’s Horizon new policy 2020 research and innovation programme under grant agreement No 761758.</p>
        </div>
      </div>
    </div>

  </body>
</html>
