<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="keywords" content="x5learn x5gon">
    <meta name="description" content="X5Learn - Open Educational Resources">
    <meta name="author" content="x5gon.org">
    <title>X5Learn</title>
    <link rel="stylesheet" href="/static/dist/css/app.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <link rel="icon" href="/static/dist/favicon.ico">
  </head>

  <body>
    <noscript>
     For full functionality of this site it is necessary to enable JavaScript.
     Here are the <a href="https://www.enable-javascript.com/">
     instructions how to enable JavaScript in your web browser</a>.
    </noscript>
    About page goes here
  </body>
</html>
