<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="keywords" content="x5learn x5gon">
    <meta name="description" content="X5Learn - Open Educational Resources">
    <meta name="author" content="x5gon.org">
    <title>X5Learn</title>
    <link rel="stylesheet" href="/static/dist/css/app.min.css">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Serif:200,300,400,700&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;display=swap" rel="stylesheet">
    <link rel="icon" href="/static/dist/favicon.ico">
    <script src="/static/dist/js/app.min.js" type="text/javascript"></script>
  </head>

  <body>
    <noscript>
     For full functionality of this site it is necessary to enable JavaScript.
     Here are the <a href="https://www.enable-javascript.com/">
     instructions how to enable JavaScript in your web browser</a>.
    </noscript>
    <script>
      var language = 'en';
      var languages = JSON.parse('{{ languages | tojson | safe }}');
      var translations = JSON.parse('{{ localization_dict | tojson | safe}}');

      const minWindowWidth=800;
      const minWindowHeight=600;
      var flags = {windowWidth: window.innerWidth, windowHeight: window.innerHeight, minWindowWidth: minWindowWidth, minWindowHeight: minWindowHeight, language: language, translations: translations, languages: languages};
      var app = Elm.Main.init({flags: flags});
      setupPorts(app);

      if(screen.width<minWindowWidth || screen.height<minWindowHeight){
        alert('We recommend using this website on a larger screen (at least '+minWindowWidth+'x'+minWindowHeight+' pixels). Otherwise, some functions may not work as expected.');
      }else if(window.innerWidth<minWindowWidth || window.innerHeight<minWindowHeight){
        alert('We recommend using this website in a larger window (at least '+minWindowWidth+'x'+minWindowHeight+' pixels). Otherwise, some functions may not work as expected.');
      }
    </script>
  </body>
</html>
