<h5>Privacy Policy</h5>
<h5>GENERAL</h5>
<p>X5Learn is committed to developing open and fair policies for the use of X5Learn materials and Open Educational Resources provided by their partners and other providers around the world  for teaching and learning. We are equally committed to protecting the privacy of our users online. This privacy statement discloses the privacy and use practices for the X5Learn website. Joint data controllers are Jozef Stefan Institute, Center for Knowledge Transfer, Jamova 39, 1000 Ljubljana, Slovenia, and University College of London, contact email: <a href="mailto:info@X5Learn.org" target="_top"> info@X5Learn.org</a></p>
<h5>OUR DATA PROCESSING ACTIVITIES</h5>
<p>Our processing of your personal data is generally based on our provision of service to you based on your acceptance of our Terms of Use. Our processing includes machine learning based on your activities using our service, your search preferences and other user characteristics you tell us about in order to deliver the most relevant content to you and other users of the X5Learn / X5GON platform. Your personal data is therefore used to identify users’ learning interests and give personalized recommendations. </p>
<p>Sharing of Personally Identifiable Information: X5Learn respects the privacy of the individual and undertakes to protect the confidentiality of personal information that is supplied in the course of membership and participation on the X5Learn website. </p>
<p>Categories of activities data captured by X5Learn: this data includes but may not be limited to:</p>
<ul>
    <li>Login form (email and password)</li>
    <li>User profile form (first and last name)</li>
    <li>URL changes within the site</li>
    <li>Text entry in the search field</li>
    <li>Searching for Wikipedia topics via cascading menus</li>
    <li>Entering notes manually</li>
    <li>Entering notes via buttons</li>
    <li>Hovering and clicking on an OER card, including the fragments bar and interactive topic visualisations</li>
    <li>Starting, stopping and skipping in embedded video players</li>
    <li>Free text feedback on OER resources</li>
    <li>Changing tabs in the resource sidebar (full-page view)</li>
    <li>Toggling between compact and detailed preview mode</li>
    <li>Browser screen/window size and scroll position</li>
</ul>
<p>Creation and Sharing of User Data on the Site: X5Learn provides its registered users with the privilege of adding user-created data to the site. It is the right of X5Learn to grant and revoke this right to any user of the X5Learn web site. A user may be required to or allowed to submit some personal information as part of his or her Member Profile, such as user name and preferred language, highest educational level, user interests, learning goals and other personal information as part of membership and participation in an online community based on open educational resource consumption.</p>
<p>Self-notes, personal annotations, comments, ratings, reviews, and tags created by the user are by definition part of the X5Learn knowledge base and are created under the Creative Commons Attribution-Noncommercial-No Derivative Works 3.0.</p>
<p>Your data may be used to improve our machine learning algorithms for other users but this would not enable them to see your data.</p>
<p>We may also gather information about you that is embedded in any format as part of open educational resources available online, including but not limited to voice, video and resource metadata. This data is processed based on our legitimate interest to provide access to open educational resources. We believe our right to process such data is not overridden by your privacy interests because the information has already been made public and our activities are limited to making the use of- and providing easier access to such resources. However, should you believe the information we have included is not part of an open educational resources or you have other reasons to object to our processing, please get in touch with us - see your rights below.</p>
<p>Your data may be transferred to third parties providing services such as storage or analytics, including in a country outside the EU/EEA/UK based on adequate safeguards such as EU-US Privacy Shield or standard data protection clauses.</p>
<p>X5Learn is not responsible for any personally identifiable information that a user discloses to sites visited and for the privacy practices of such sites. This privacy statement applies solely to information collected by the X5Learn website.</p>
<h5>RESEARCH COLLABORATION</h5>
<p>X5Learn is part of a research project X5GON. This includes the collaboration to enable and conduct research about how learners access and master educational materials online, with the goal of improving learning outcomes.</p>
<p>Within this project, we collect user activity data that is acquired by the X5GON connect service integrated in our system. The user data we acquire through the connect service consists of the following values:</p>
<ul>
    <li><b>User ID.</b> This value is the identifier of the user accessing the learning material. It is created using the X5GON connect service and stored as a cookie in the user's browser. The value is randomly generated.</li>
    <li><b>Material URL.</b> This value is the material identifier and the link that the user visited.</li>
    <li><b>Referrer URL.</b> This URL is the link from which the user arrived to the material.</li>
    <li><b>Access Date.</b> The date at which the material was accessed.</li>
    <li><b>User Agents.</b> This attribute contains information about the technology the user used to access the material.</li>
    <li><b>Language. </b> The language configuration used in users technology.<b>User Location.</b> The geographical location from which the user accessed the material, e.g. city, country, and continent. NOTE: This value will be calculated using the users IP. The user IP is NOT stored in our databases.</li>
</ul>
<p>The acquired user data is used to identify users’ learning interests and give personalized recommendations.</p>
<p>X5Learn or a Member of the X5GON consortium may also seek your consent for additional disclosures of information, including Personal Information, and will share it only as described to you. In addition, X5Learn or a Member may share with the public and with third parties, including but not limited to researchers and business partners, information and Personal Information that is de-identified or aggregated in a manner that does not personally identify you.</p>
<h5>YOUR RIGHTS</h5>
<p>Right to access the data we process about you: upon your request, we will send you the data we are processing about you in electronic format.</p>
<p>Right to erasure: you may request the erasure of your personal information. We would keep your activities data used for our machine learning purposes but this data will no longer be in a personally identifiable form. Similarly, enrichments to the material such as bookmarks, self-notes, comments, annotations or recommendations would be kept in non-personal form.</p>
<p>Right to object: You have the right to object to the processing of your data where it is processed in line with our legitimate interests.</p>
<p>Right to portability: You have a right to get a copy of the personal data we hold about you. We'll provide your data in a standard portable format.</p>
<p>Right to rectification: You can request the rectification of any inaccuracies in the data that we process about you.</p>
<p>Right to restriction: You have a right to restrict the processing of your personal data in certain circumstances. This means you can limit the way we use your data.</p>
<p>You have the right to complain to the competent data protection authority, which is most likely going to be Informacijski pooblaščenec, Dunajska cesta 22,1000 Ljubljana, Slovenia, phone: 01 230 97 30</p>
