html, head, body {
  margin: 0;
  height: 100%;
}

body * {
  font-family: 'Open Sans', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  color: rgba(0,0,0,0.87);
}

h1, h2, h3, h4 {
  font-weight: normal;
}

a {
  color: rgba(0,0,0,0.87);
  text-decoration: none;
}

.BigHeadingFont{
  font-family: "IBM Plex Serif",serif!important;
  font-weight: 300 !important;
  line-height: 96px !important;
  font-size: 96px !important;
}

.Snackbar{
  transition: all 0.9s;
}

.MaterialCard {
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.MaterialCard:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.MaterialHoverZoomThumb {
  background-size: 100% !important;
  transition: all 0.2s;
}

.MaterialCard:hover .MaterialHoverZoomThumb {
  background-size: 110% !important;
}

.HoverCircleBackground img{
  padding: 5px;
}

.HoverCircleBackground:hover img{
  background: url(/static/dist/img_svg/circle.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.HoverGreyBackground:hover{
  background-color: rgb(242,242,242) !important;
}

.InspectorAnimation{
  -webkit-filter: blur(1px); /* Safari */
  filter: blur(1px);
  transition: all 0.1s ease-out;
}

.InspectorScrim{
  transition: all 0.5s ease-out;
}



/* temporary patch to hide ugly frames in videolectures.net thumbnails */

.MaterialHoverZoomThumb__Videolectures {
  background-size: 106% !important;
  transition: all 0.2s;
}

.MaterialCard:hover .MaterialHoverZoomThumb__Videolectures {
  background-size: 110% !important;
}


.CursorNotAllowed{
  cursor: not-allowed;
}

.CursorPointer {
  cursor: pointer;
}

.PointerEventsNone, .PointerEventsNone * {
  pointer-events: none !important;
}

#SearchField{
  padding-right: 35px;
}


/* Loading spinner adapted from https://www.w3schools.com/howto/howto_css_loader.asp */

.loader {
  border: 3px solid #fffb !important;
  border-radius: 50% !important;
  border-top: 3px solid #009CCC !important;
  width: 30px !important;
  height: 30px !important;
  -webkit-animation: spin 1s cubic-bezier(0.2, 0.5, 1.0, 0.2) infinite !important; /* Safari */
  animation: spin 1s cubic-bezier(0.2, 0.5, 1.0, 0.2) infinite !important;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* End of loading spinner */


.UserSelectNone {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.Html5VideoPlayerMessage div {
  background-color: #ffc390;
  border-radius: 4px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 10px 20px;
  display: inline-block;
}

#InspectorModal video {
  width: 100%;
  height: auto;
}

.ClipEllipsis {
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

/* Toggle for ContentFlow */

.ToggleSwitch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.ToggleSwitch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.ToggleSlider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.ToggleSlider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.ToggleEnabled + .ToggleSlider {
  background-color: #2196F3;
}

.MagentaBackground {
  background-color: #f0e !important;
}

.PrimaryGreenBackground {
  background-color: #00AD57 !important;
}

.ToggleEnabled + .ToggleSlider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

.ToggleSlider.ToggleSliderRound {
  border-radius: 34px;
}

.ToggleSlider.ToggleSliderRound:before {
  border-radius: 50%;
}

/* End Toggle for ContentFlow */


#TextInputFieldForCommentOnCourseItem{
  border: none;
  border-bottom: 1px solid #999;
  border-radius: 0;
}

.ZIndex100{
  z-index: 100;
}

#MainPageContent {
  background: rgb(153,159,178);
  background: radial-gradient(circle, rgba(153,159,178,1) 0%, rgba(219,221,228,1) 95%);
}