html, head, body {
  margin: 0;
  height: 100%;
}

body * {
  font-family: 'Roboto', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif !important;
  color: rgba(0,0,0,0.87);
}

h1, h2, h3, h4 {
  font-weight: normal;
}

a {
  color: rgba(0,0,0,0.87);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.Snackbar{
  transition: all 0.9s;
}

.materialCard {
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.materialCard:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.materialHoverZoomThumb {
  background-size: 100% !important;
  transition: all 0.2s;
}

.materialCard:hover .materialHoverZoomThumb {
  background-size: 110% !important;
}

.hoverCircleBackground img{
  padding: 5px;
}

.hoverCircleBackground:hover img{
  background: url(/static/dist/img_svg/circle.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.modalAnimation{
  -webkit-filter: blur(1px); /* Safari */
  filter: blur(1px);
  transition: all 0.1s ease-out;
}

.modalScrim{
  transition: all 0.5s ease-out;
}



/* temporary patch to hide ugly frames in videolectures.net thumbnails */

.materialHoverZoomThumb-videolectures {
  background-size: 106% !important;
  transition: all 0.2s;
}

.materialCard:hover .materialHoverZoomThumb-videolectures {
  background-size: 110% !important;
}


.CursorNotAllowed{
  cursor: not-allowed;
}

.CursorPointer {
  cursor: pointer;
}

.PointerEventsNone, .PointerEventsNone * {
  pointer-events: none !important;
}

#SearchField{
  padding-right: 35px;
}


/* Loading spinner adapted from https://www.w3schools.com/howto/howto_css_loader.asp */

.loader {
  border: 3px solid #fffb !important;
  border-radius: 50% !important;
  border-top: 3px solid #528694 !important;
  width: 30px !important;
  height: 30px !important;
  -webkit-animation: spin 1s cubic-bezier(0.2, 0.5, 1.0, 0.2) infinite !important; /* Safari */
  animation: spin 1s cubic-bezier(0.2, 0.5, 1.0, 0.2) infinite !important;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.UserSelectNone {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.Html5VideoPlayer {
  font-size: 16px;
}

.Html5VideoPlayerMessage div {
  background-color: #ffc390;
  border-radius: 4px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 10px 20px;
  display: inline-block;
}

#inspectorModal video {
  width: 100%;
  height: auto;
}

.ClipEllipsis {
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}
