html, head, body {
  margin: 0;
  height: 100%;
}

body * {
  font-family: 'Roboto', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif !important;
  color: rgba(0,0,0,0.87);
}

h1, h2, h3, h4 {
  font-weight: normal;
}

a {
  color: rgba(0,0,0,0.87);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}


.materialCard {
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.materialCard:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.materialHoverZoomThumb {
  background-size: 100% !important;
  transition: all 0.2s;
}

.materialCard:hover .materialHoverZoomThumb {
  background-size: 110% !important;
}

.hoverCircleBackground img{
  padding: 5px;
}

.hoverCircleBackground:hover img{
  background: url(/static/dist/img_svg/circle.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.modalAnimation{
  -webkit-filter: blur(1px); /* Safari */
  filter: blur(1px);
  transition: all 0.1s ease-out;
}

.modalScrim{
  transition: all 0.5s ease-out;
}

