{% extends "security/base.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}

{% block content %}
  <div class="centerblock">
    {% include "security/_messages.html" %}
    <h1>{{ _('Reset password') }}</h1>
    <form action="{{ url_for_security('reset_password', token=reset_password_token) }}" method="POST" name="reset_password_form">
      {{ reset_password_form.hidden_tag() }}
      {{ render_field(reset_password_form.password) }}
      {% if reset_password_form.password.errors %}
      <ul>
        <li>Passwords must contain:
            <div style="margin-left: 15px">
              <ul style="list-style:disc;">
                <li>a minimum of 1 lower case letter [a-z]</li>
                <li>a minimum of 1 upper case letter [A-Z]</li>
                <li>a minimum of 1 numeric character [0-9]</li>
                <li>a minimum of 1 special character [@#$%^&+=]</li>
                <li>a minimum of 8 characters in length</li>
              <ul>
            </div>
        </li>
      </ul> 
      {% endif %}
      {{ render_field_with_errors(reset_password_form.password_confirm) }}
      {{ render_field(reset_password_form.submit) }}
    </form>
  </div>
{% endblock %}
